In [1]:
from IPython.display import IFrame
url = "https://adventofcode.com/2022"
IFrame(src=url, width=1000, height=600)

In [2]:
import urllib.request

def gather_input_data(url, sessionId, transform=lambda x: str(x, "utf-8").strip('\n')):
    request = urllib.request.Request(url)
    request.add_header("cookie", "session={}".format(sessionId)) # Source the data directly from AoC

    values = []
    with urllib.request.urlopen(request) as data:
        for line in data:
            values.append(transform(line))

    return values

def get_data(day, year=2022):
    with open('sessionID') as f:
        sessionId = f.readlines()[0]
    url = "https://adventofcode.com/%d/day/%d/input"%(year,day)
    data = gather_input_data(url, sessionId)
    return data

In [32]:
def parse_and_make_sets(val):
    a,b = val.split(',')
    set1 = make_consecutive_set(a)
    set2 = make_consecutive_set(b)
    return set1, set2

def make_consecutive_set(val):
    start, end = val.split('-')
    return set(range(int(start), int(end)+1))

def is_subset(val):
    s1, s2 = parse_and_make_sets(val)
    return s1.issubset(s2) or s2.issubset(s1)

def is_overlap(val):
    s1, s2 = parse_and_make_sets(val)
    len(s1.intersect(s2)) + s2.intersect(s1)
    return

In [33]:
data = get_data(4)

# data = ['2-4,6-8',
# '2-3,4-5',
# '5-7,7-9',
# '2-8,3-7',
# '6-6,4-6',
# '2-6,4-8']
sum([is_subset(val) for val in data])

466

In [36]:
s1, s2 = parse_and_make_sets(data[0])

In [42]:
len(s1.intersection(s2)) > 0

90

In [43]:
s2.intersection(s1)

{15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59}

In [44]:
s1

{15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60}

In [45]:
s2

{14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59}